# Entendimento dos Dados

## Etapa 2 - Trabalho Extensionista

Apresentação de uma análise estatística e do planejamento da integração e limpeza dos dados.

**Integrantes:** Cristina Einsfeld, Heloysa Pelizon e Samuel Morales

### Proposta
O seguinte trabalho consiste em realizar análises estatísticas iniciais a fim do conhecimento dos dados selecionados para a proposta de projeto extensionista da cadeira Coleta, Preparação e Análise de Dados - 2024/1. A proposta citada se faz em reconhecer as motivações por trás da abstenção de voto no Brasil nas duas eleições presidenciais mais recentes (2022 e 2028), através de observação transversal dos dados de comparecimento e abstenção de voto fornecidos no site https://dadosabertos.tse.jus.br/group/comparecimento-e-abstencao do IBGE.

In [2]:
# Imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy

In [3]:
# Funções auxiliares

def visualizacao_metadados_socioculturais(df):
    for c in df.columns:
        if c[0:2] == 'DS':
            # print(c)
            # display(df[c].value_counts().to_frame())
            print(c + '\n\n')
            print(df[c].value_counts())
            print('\n\n')

### Análises Eleição 2018

In [10]:
# Carregamento do Dataframe com dados de Abstenção 2018
df_2018= pd.read_csv('./perfil_comparecimento_abstencao_2018/perfil_comparecimento_abstencao_2018.csv', encoding='latin-1', sep= ';')

In [11]:
# Visualização 10 primeiros exemplares
df_2018.head(10)

,DT_GERACAO,HH_GERACAO,ANO_ELEICAO,NR_TURNO,SG_UF,CD_MUNICIPIO,NM_MUNICIPIO,NR_ZONA,CD_GENERO,DS_GENERO,...,DS_FAIXA_ETARIA,CD_GRAU_ESCOLARIDADE,DS_GRAU_ESCOLARIDADE,QT_APTOS,QT_COMPARECIMENTO,QT_ABSTENCAO,QT_COMPARECIMENTO_DEFICIENCIA,QT_ABSTENCAO_DEFICIENCIA,QT_COMPARECIMENTO_TTE,QT_ABSTENCAO_TTE
0,29/01/2019,17:33:34,2018,2,MA,7820,LAGOA DO MATO,44,4,FEMININO,...,20 anos,5,ENSINO MÉDIO INCOMPLETO,5,5,0,0,0,0,0
1,29/01/2019,17:33:34,2018,2,MA,7820,LAGOA DO MATO,44,4,FEMININO,...,30 a 34 anos,1,ANALFABETO,1,1,0,0,0,0,0
2,29/01/2019,17:33:34,2018,2,MA,7820,LAGOA DO MATO,44,4,FEMININO,...,30 a 34 anos,2,LÊ E ESCREVE,5,4,1,0,0,0,0
3,29/01/2019,17:33:34,2018,2,MA,7820,LAGOA DO MATO,44,4,FEMININO,...,35 a 39 anos,2,LÊ E ESCREVE,22,20,2,0,0,0,0
4,29/01/2019,17:33:34,2018,2,MA,7820,LAGOA DO MATO,44,4,FEMININO,...,35 a 39 anos,4,ENSINO FUNDAMENTAL COMPLETO,6,6,0,0,0,0,0
5,29/01/2019,17:33:34,2018,2,MA,7820,LAGOA DO MATO,44,4,FEMININO,...,40 a 44 anos,7,SUPERIOR INCOMPLETO,3,3,0,0,0,0,0
6,29/01/2019,17:33:34,2018,2,MA,7820,LAGOA DO MATO,44,4,FEMININO,...,40 a 44 anos,8,SUPERIOR COMPLETO,5,5,0,0,0,0,0
7,29/01/2019,17:33:34,2018,2,MA,7820,LAGOA DO MATO,44,4,FEMININO,...,45 a 49 anos,6,ENSINO MÉDIO COMPLETO,8,7,1,0,0,0,0
8,29/01/2019,17:33:34,2018,2,MA,7820,LAGOA DO MATO,44,4,FEMININO,...,55 a 59 anos,3,ENSINO FUNDAMENTAL INCOMPLETO,10,8,2,0,0,0,0
9,29/01/2019,17:33:34,2018,2,MA,7820,LAGOA DO MATO,44,4,FEMININO,...,55 a 59 anos,4,ENSINO FUNDAMENTAL COMPLETO,1,1,0,0,0,0,0

In [12]:
# Lista de features presentes no DataFrame
print(df_2018.columns)

Index(['DT_GERACAO', 'HH_GERACAO', 'ANO_ELEICAO', 'NR_TURNO', 'SG_UF',
       'CD_MUNICIPIO', 'NM_MUNICIPIO', 'NR_ZONA', 'CD_GENERO', 'DS_GENERO',
       'CD_ESTADO_CIVIL', 'DS_ESTADO_CIVIL', 'CD_FAIXA_ETARIA',
       'DS_FAIXA_ETARIA', 'CD_GRAU_ESCOLARIDADE', 'DS_GRAU_ESCOLARIDADE',
       'QT_APTOS', 'QT_COMPARECIMENTO', 'QT_ABSTENCAO',
       'QT_COMPARECIMENTO_DEFICIENCIA', 'QT_ABSTENCAO_DEFICIENCIA',
       'QT_COMPARECIMENTO_TTE', 'QT_ABSTENCAO_TTE'],
      dtype='object')

In [14]:
# Visualização de frequência de categorias em cada feature socio-cultural
visualizacao_metadados_socioculturais(df_2018)

DS_GENERO


DS_GENERO
FEMININO         4400030
MASCULINO        3898558
NÃO INFORMADO      63998
Name: count, dtype: int64



DS_ESTADO_CIVIL


DS_ESTADO_CIVIL
SOLTEIRO                  2760838
CASADO                    2488136
DIVORCIADO                1165956
VIÚVO                     1060598
SEPARADO JUDICIALMENTE     784644
NÃO INFORMADO              102414
Name: count, dtype: int64



DS_FAIXA_ETARIA


DS_FAIXA_ETARIA
55 a 59 anos        709220
50 a 54 anos        702924
60 a 64 anos        684434
45 a 49 anos        647740
65 a 69 anos        624986
40 a 44 anos        609484
35 a 39 anos        561346
70 a 74 anos        542518
30 a 34 anos        486464
75 a 79 anos        453158
25 a 29 anos        404464
80 a 84 anos        363312
21 a 24 anos        307466
85 a 89 anos        271156
90 a 94 anos        193394
20 anos             178992
19 anos             159776
18 anos             138452
95 a 99 anos        112742
17 anos             100254
16 anos              63912
100 anos ou mais     40834
Inválido              5558
Name: count, dtype: int64



DS_GRAU_ESCOLARIDADE


DS_GRAU_ESCOLARIDADE
ENSINO FUNDAMENTAL INCOMPLETO    1439310
LÊ E ESCREVE                     1184554
ENSINO MÉDIO COMPLETO            1181364
ENSINO FUNDAMENTAL COMPLETO      1024648
ANALFABETO                       1003138
ENSINO MÉDIO INCOMPLETO           941846
SUPERIOR COMPLETO                 869552
SUPERIOR INCOMPLETO               667612
NÃO INFORMADO                      50562
Name: count, dtype: int64

#### Redução escopo de análise: Estado do Rio Grande do Sul
Durante o conhecimento dos dados e seu entendimento, o grupo chegou a decisão de diminuir a dimencionalidade dos dados e realizar uma filtragem dos mesmos para um escopo estadual, mais especificamente, o estado do Rio Grande do Sul. Também, foi adicionada uma coluna que identifica a cidade do exemplar como parte da região metropolitana do estado ou não (0 ou 1).

In [13]:
regiao_metropolitana = [
    "ALVORADA", "ARARICÁ", "CACHOEIRINHA", "CAMPO BOM", "CANOAS", "CAPELA DE SANTANA", 
    "DOIS IRMÃOS", "ELDORADO DO SUL", "ESTÂNCIA VELHA", "ESTEIO", "GLORINHA", "GRAVATAÍ", 
    "GUAÍBA", "IVOTI", "NOVA HARTZ", "NOVA SANTA RITA", "PORTÃO", "SANTO ANTÔNIO DA PATRULHA", 
    "SÃO LEOPOLDO", "SAPIRANGA", "SAPUCAIA DO SUL", "TAQUARA", "TRIUNFO", "VIAMÃO", "PORTO ALEGRE"
]

In [16]:
# Redução do Dataframe para apenas cidades do estado do RS
df_2018_novo= df_2018[df_2018['SG_UF'] == 'RS' ]

# Filtragem de Dados do Dataframe com retirada de exemplares com valores inválidos
col = [coluna for coluna in df_2018_novo.columns if coluna[0:2] == 'CD']
df_2018_novo = df_2018_novo[~df_2018_novo[col].isin([0,-3,-1]).any(axis=1)]

# Redução de Dimensionalidade do Dataframe com exclusão de colunas desnecessárias
df_2018_novo = df_2018_novo.drop(columns=['DT_GERACAO', 'HH_GERACAO','QT_COMPARECIMENTO_DEFICIENCIA', 'QT_ABSTENCAO_DEFICIENCIA',
       'QT_COMPARECIMENTO_TTE', 'QT_ABSTENCAO_TTE'])

# Nova dimensão do Dataframe
print( 'Nova Quantidade de Exemplares: ' + str(df_2018_novo.size))

# Visualização dos 10 primeiros exemplares do no Dataframe
df_2018_novo.head(10)

Nova Quantidade de Exemplares: 10701602

,ANO_ELEICAO,NR_TURNO,SG_UF,CD_MUNICIPIO,NM_MUNICIPIO,NR_ZONA,CD_GENERO,DS_GENERO,CD_ESTADO_CIVIL,DS_ESTADO_CIVIL,CD_FAIXA_ETARIA,DS_FAIXA_ETARIA,CD_GRAU_ESCOLARIDADE,DS_GRAU_ESCOLARIDADE,QT_APTOS,QT_COMPARECIMENTO,QT_ABSTENCAO
25645,2018,2,RS,87866,SÃO VALÉRIO DO SUL,107,4,FEMININO,3,CASADO,4044,40 a 44 anos,4,ENSINO FUNDAMENTAL COMPLETO,4,4,0
25646,2018,2,RS,87866,SÃO VALÉRIO DO SUL,107,4,FEMININO,3,CASADO,4044,40 a 44 anos,6,ENSINO MÉDIO COMPLETO,7,7,0
25647,2018,2,RS,87866,SÃO VALÉRIO DO SUL,107,4,FEMININO,3,CASADO,4549,45 a 49 anos,7,SUPERIOR INCOMPLETO,1,1,0
25648,2018,2,RS,87866,SÃO VALÉRIO DO SUL,107,4,FEMININO,3,CASADO,5054,50 a 54 anos,4,ENSINO FUNDAMENTAL COMPLETO,8,7,1
25649,2018,2,RS,87866,SÃO VALÉRIO DO SUL,107,4,FEMININO,3,CASADO,5559,55 a 59 anos,3,ENSINO FUNDAMENTAL INCOMPLETO,25,25,0
25650,2018,2,RS,87866,SÃO VALÉRIO DO SUL,107,4,FEMININO,3,CASADO,5559,55 a 59 anos,5,ENSINO MÉDIO INCOMPLETO,2,2,0
25651,2018,2,RS,87866,SÃO VALÉRIO DO SUL,107,4,FEMININO,3,CASADO,6569,65 a 69 anos,1,ANALFABETO,5,4,1
25652,2018,2,RS,87866,SÃO VALÉRIO DO SUL,107,4,FEMININO,5,VIÚVO,5054,50 a 54 anos,1,ANALFABETO,1,1,0
25653,2018,2,RS,87866,SÃO VALÉRIO DO SUL,107,4,FEMININO,5,VIÚVO,7579,75 a 79 anos,1,ANALFABETO,3,1,2
25654,2018,2,RS,87866,SÃO VALÉRIO DO SUL,107,4,FEMININO,5,VIÚVO,9094,90 a 94 anos,2,LÊ E ESCREVE,1,1,0

In [17]:
# Visualização de frequência de categorias em cada feature socio-cultural Dataframe RS
visualizacao_metadados_socioculturais(df_2018_novo)

DS_GENERO


DS_GENERO
FEMININO     333602
MASCULINO    295904
Name: count, dtype: int64



DS_ESTADO_CIVIL


DS_ESTADO_CIVIL
SOLTEIRO                  202276
CASADO                    187768
VIÚVO                      84264
DIVORCIADO                 82368
SEPARADO JUDICIALMENTE     72830
Name: count, dtype: int64



DS_FAIXA_ETARIA


DS_FAIXA_ETARIA
55 a 59 anos        54822
50 a 54 anos        53712
60 a 64 anos        53388
45 a 49 anos        50000
65 a 69 anos        49600
40 a 44 anos        47008
70 a 74 anos        43244
35 a 39 anos        42988
30 a 34 anos        36164
75 a 79 anos        35422
25 a 29 anos        29746
80 a 84 anos        27698
21 a 24 anos        21756
85 a 89 anos        19586
20 anos             12252
90 a 94 anos        12188
19 anos             11038
18 anos              9872
17 anos              6890
95 a 99 anos         6268
16 anos              4088
100 anos ou mais     1776
Name: count, dtype: int64



DS_GRAU_ESCOLARIDADE


DS_GRAU_ESCOLARIDADE
ENSINO FUNDAMENTAL INCOMPLETO    121548
ENSINO MÉDIO COMPLETO             92504
ENSINO FUNDAMENTAL COMPLETO       87522
ENSINO MÉDIO INCOMPLETO           74254
SUPERIOR COMPLETO                 70848
LÊ E ESCREVE                      68378
ANALFABETO                        58370
SUPERIOR INCOMPLETO               56082
Name: count, dtype: int64